html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1722px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 229px;
}

.header__request {
  padding: 5px 47px;
  background: #d9d9d9;
  line-height: 24px;
  color: #000;
  font-size: 20px;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  margin-right: 46px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.logo {
  margin: 0 auto;
}

.home__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.home__link {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  background-position: center;
  min-height: 468px;
  padding-left: 60px;
}

.home__link:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.home__link-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
  margin-bottom: 18x;
}

.home__link-text {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 400;
  width: 696px;
}

.home__link-btn {
  width: 223px;
  height: 54px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  cursor: pointer;
  margin-bottom: 25px;
}

.footer {
  padding-top: 113px;
  padding-bottom: 50px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}

.footer__adres-text {
  margin-bottom: 38px;
  font-size: 20px;
  line-height: 24px;
}

.footer__phone {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 38px;
}

.footer__mail {
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 38px;
}

.footer__phone-text {
  font-size: 20px;
  line-height: 24px;
}

.footer__logo {
  margin-top: 14px;
}

.footer__contact-after {
  margin-top: 149px;
  font-size: 20px;
  line-height: 24px;
}
